# Python
venv/
env/
ENV/
.venv/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.coverage
.pytest_cache/
.coverage.*
.pytest_cache

# 日志
logs/
logs_testing/

# runtime
api/runtime/

# 测试相关
htmlcov/
.coverage
coverage.xml
*.egg-info/
.pytest_cache/

# IDE
.idea/
*.swp
*.swo